service: internal-analytics-proxy
custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true
    packager: "yarn"
  customDomain:
    domainName: analytics.internal.bridged.cc
    basePath: ""
    stage: production
    createRoute53Record: true
  serverless-offline:
    httpPort: 4013
plugins:
  - serverless-webpack
  - serverless-offline
  - serverless-domain-manager
  - serverless-dotenv-plugin
provider:
  name: aws
  timeout: 3
  memory: 128
  runtime: nodejs12.x
  region: us-west-1
  apiGateway:
    minimumCompressionSize: 1024
functions:
  event:
    handler: handler.handle
    events:
      - http:
          method: any
          path: /{proxy+}
      - http:
          method: GET
          path: /
